h1 {
  text-align: center;
}
form {
  text-align: center;
  display: inline;
}
li {
  list-style-type: none;
}
.card {
  outline: 2px black;
  background-color: rgb(0, 132, 255);
  width: 400px;
  color:black;
  margin: 5px auto;
}
.btn-sm {
  --bs-btn-padding-y: 0rem;
  --bs-btn-padding-x: .20rem;
}
